{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}
<div class="container-fluid vh-100 bg-body-tertiary">
    <div class="d-flex justify-content-center align-items-center">
        <div class="card col-4 text-center roudend-4 shadow-lg p-4 d-flex align-items-center justify-content-center ">
        <img src={{asset('/images/default-1.jpg')}} 
        width="200"
        class="border-2 border-light rounded-circle shadow mb-4"
        >
        <h1>Paris</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores unde excepturi facilis quis aliquam. Rerum, error cupiditate nemo sunt adipisci beatae accusamus aliquam, nulla maxime quibusdam libero sed quas deleniti!</p>
        <p>&copy; {{ 'now'| date('Y') }} </p>
        </div>
    </div>
</div>
{% endblock %}
